.header, .profile-page{
  background: #77A1D3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.profile-page{
  height: 100vh;
}

.contact {
  width: 100vw;
  height: 100vh;
  padding-top: 2em;
  justify-content: center;
  margin: auto;
 
} 

.contact-body {
  margin-top:  10%;
  margin-bottom: 20px;
}

.contact-grid {
 
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: rgb(255, 255, 255);
 
}

.contact-grid h2{
  font-family: 'Anton', sans-serif;
}


.contact-grid p {
  width: 75%;
  margin: auto;
  padding-top: 1em;
  font-weight: bold;
  font-family: 'Oxygen', sans-serif;
}

.p-2 {
  margin-bottom: 10%;
}


.profile-img {
  height: 250px;
   margin-top: 5%;
}

.contact-list {
  margin-top: 7%;
  font-size: 25px;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
